---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Section from '../components/Section.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';



const projectData_CloudCourier = {
	projectName: 'CloudCourier📦',
	link: 'https://github.com/kananniftiyev/CloudCourier',
	projectDesc: 'CloudCourier📦 is a versatile and secure file transfer platform designed to streamline the way you share and manage your files. Whether you need to send large documents, images, videos, or any other file type, CloudCourier📦 simplifies the process while ensuring data privacy and control.'
};

const projectData_FileGuard = {
	projectName: 'Fileguard 🛡️',
	link: 'https://github.com/kananniftiyev/fileguard',
	projectDesc: 'Fileguard is a secure file backup utility, facilitating encrypted transfers from designated folders to specified servers, with customizable settings for seamless data protection and management.'
};

const projectData_SkillFolio = {
	projectName: 'Skillfolio 🚀',
	link: 'https://github.com/kananniftiyev/skillfolio',
	projectDesc: 'Skillfolio: Showcase your talent effortlessly with our sleek, dynamic web portfolios.'
};

const Social = {
	github: "https://www.github.com/kananniftiyev",
	linkedin: "https://www.linkedin.com/in/kanan-niftiyev-0b9190218/",
	instagram: "https://www.instagram.com/kananniftiyev",
	mail: "mailto:kananniftiyev@hotmail.com",
	cv: "https://drive.google.com/file/d/1tdm31iZKjwdsC_HxfMOswbtbTJjs5k1i/view?usp=drive_link"
}


---

<Layout title="Kanan Niftiyev">
	<div class="grid grid-cols-1 place-content-center p-5 box-border max-w-full md:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
		<main>
		  <div class="center flex flex-col items-center mb-30 mt-10 md:mt-20 lg:mt-30">
			<h1 class="mb-4 text-black font-bold text-2xl md:text-3xl lg:text-lg xl:text-2xl">Kanan Niftiyev</h1>
			<h2 class="mb-4 text-black font-medium text-lg md:text-xl lg:text-lg xl:text-xl">Junior Software Engineer</h2>
			<h3 class="text-zinc-400 italic font-medium text-base md:text-lg lg:text-lg xl:text-xl">Warsaw, Masovian, Poland</h3>
		  </div>
		  <div class="grid grid-cols-1 items-center place-content-center	">
			<Section sectionName="Links">
				<div class="flex flex-wrap gap-3 justify-center md:justify-start">
				  <Button href={Social.github} text="Github"><i class="fa fa-github" style="font-size:22px"></i></Button>
				  <Button href={Social.linkedin} text="Linkedin"><i class="fa fa-linkedin" style="font-size:22px"></i></Button>
				  <Button href={Social.instagram} text="Instagram"><i class="fa fa-instagram" style="font-size:22px"></i></Button>
				  <Button href={Social.cv} text="Resume"><i class="fa-solid fa-file" style="font-size:22px"></i></Button>
				</div>
			  </Section>
			  <Section sectionName="About">
				<div class="flex flex-col gap-5 font-semibold">
				  <p class="text-base md:text-lg lg:text-lg xl:text-lg">Computer Science student with a passion for backend technologies and a strong foundation in programming languages, including C, Golang, Java and Python.</p>
				  <p class="text-base md:text-lg lg:text-lg xl:text-lg">Proficient in various backend frameworks and tools such as Spring Boot, Django, and Node.js. Experienced with database management systems like MySQL and MongoDB. Skilled in version control using Git and familiar with containerization tools such as Docker. Adept at implementing RESTful APIs and working with cloud services like AWS.</p>
				  <p class="text-base md:text-md lg:text-lg xl:text-lg">Actively seeking opportunities to expand skillset and stay current with the latest advancements in current technologies.</p>
				  <p class="text-base md:text-md lg:text-lg xl:text-lg">To reach me use <a class="text-[#3A81F5] font-semibold" href={Social.linkedin}>linkedin</a> or <a class="text-[#3A81F5] font-semibold" href={Social.mail}>mail</a></p>
				</div>
			  </Section>
			  <Section sectionName="Work">
				<p class="font-semibold text-base md:text-lg lg:text-xl xl:text-lg">Previously Software Engineer Intern @ <a class="text-[#3A81F5] font-semibold" href="https://www.linkedin.com/in/kanan-niftiyev-0b9190218/">Subartesian LLC</a></p>
			  </Section>
			  <Section sectionName="Projects">
				<ProjectCard tags={["Golang", "React", "PostgreSQL", "MongoDB"]} mainColor="#fff" hoverColor="#F5F5F5" projectName={projectData_CloudCourier.projectName} link={projectData_CloudCourier.link} projectDesc={projectData_CloudCourier.projectDesc} />
				<ProjectCard tags={["Golang", "OAuth2", "PostgreSQL", "Docker"]} mainColor="#fff" hoverColor="#F5F5F5" projectName={projectData_FileGuard.projectName} link={projectData_FileGuard.link} projectDesc={projectData_FileGuard.projectDesc} />
				<ProjectCard tags={["Python", "Django", "Nuxt.js", "Docker"]} mainColor="#fff" hoverColor="#F5F5F5" projectName={projectData_SkillFolio.projectName} link={projectData_SkillFolio.link} projectDesc={projectData_SkillFolio.projectDesc} />
			  </Section>
		  </div>
		  
		</main>
	  </div>
</Layout>

<style>
	html{
		background-color: white;
	}
	.center{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 120px;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		margin-top: 40px; /* Adjust as needed */
	}
	.top{
		display: flex;
		flex-direction: column;
	}
</style>

