---
interface Props {
    link: string
    projectName: string
    projectDesc: string
    mainColor: string
    hoverColor: string
    tags: string[]
}

const {link, projectName, projectDesc, mainColor, hoverColor, tags} = Astro.props
---


<a 
    href={link} 
    style={`background-color: ${mainColor};`} 
    onmouseover={`this.style.backgroundColor='${hoverColor}'`} 
    onmouseout={`this.style.backgroundColor='${mainColor}'`} 
    class="mb-6 flex flex-col items-center border border-gray-400 rounded-lg shadow md:flex-row md:max-w-xl transition-all"
>
    <div class="flex flex-col justify-between p-6 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{projectName}</h5>
        <p class="mb-3 font-normal text-gray-700">{projectDesc}</p>
        <div class="flex flex-wrap gap-2 mt-4">
            {tags.map((tech) => (
                <span class="badge bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">
                    {tech}
                </span>
            ))}
        </div>
    </div>
</a>

<style>
    .badge {
        background-color: #E0F2FE; /* Light blue background */
        color: #0369A1; /* Dark blue text */
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.875rem; /* Text size */
        font-weight: 600;
    }
</style>


